@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes flicker{
    0%,18%,22%,25%,53%,57%,100% {opacity:1;}
    20%,24%,55% {opacity:0.4;}
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.02);}
    100%{transform:scale(1);}
}

.fade-in{
    animation: fadeIn 1s ease-in-out;
}

.flicker{
    animation: flicker 3s infinite;
}

.pulse{
    animation: pulse 4s infinite;
}