:root{

    --font-primary: 'Cinzel', serif;
    --font-secondary: 'Inter', sans-serif;

    --color-bg-start: #000000;
    --color-bg-decision: #0a0a0a;
    --color-bg-ending: #050505;

    --color-primary: #b30000;   
    --color-secondary: #ff0000; 
    --color-accent: #660000;    

    --color-text: #f5f5f5


}